@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
	.gradient-purple {
		background: linear-gradient(166deg, #f80 0%, #d0f 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.gradient-silver {
		background: linear-gradient(160deg, #fff 0%, #999 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.gradient-green {
		background: linear-gradient(164deg, #fff 0%, #80ff00 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
